body{
  background-color: #dbd0a7;
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: repeat-x;
  margin: 0px;
}

/* CONTENIDO DE LA PAGINA WEB */
.contenedor{
  width: 950px;
  margin: 0 auto 0 auto
}
/* inicio de sesion */
#inicio_sesion_top{
  float:right;
  margin-top: -5px;
  margin-bottom: 6px;
  z-index:999;
}
#botones_sesion_top{
  background-color: #b0bf86;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color:#000000;
  font-size:14px;
  font-family:Arial;
  padding-top: 3px;
  padding-bottom: 3px;
}

#botones_sesion_top ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#botones_sesion_top ul li { display: inline; }

#botones_sesion_top ul li a {
  text-decoration: none;
  padding: .0em 1em;
  color: #000000;
  background-color: #b0bf86;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#botones_sesion_top ul li a:hover
{
  color: #fff;
  background-color: #769025;
}

/* inicio de sesion popup*/
#pop_sesion_top{
  width: 300px;
  min-height: 200px;
  margin-left: -182px;
  margin-top: 15px;
  padding: 10px;
  position: absolute;
  z-index:998;
  background-color: #fff;
  border: 2px solid #ff9e00;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 10px 10px 14px -7px #000;
  -webkit-box-shadow: 10px 10px 14px -7px #000;
  box-shadow: 10px 10px 14px -7px #000;
  display: none;
  text-align: center;
}
#pop_sesion_top_flecha{
  margin-top: -35px;
  margin-left: 200px;
  position: absolute;
}
.arrow-before {
    width:0px;
    height:0px;
    border-left: 12px solid transparent;  /* izquierda flecha */
    border-right: 12px solid transparent; /* derecha flecha */
    border-bottom: 17px solid #ff9e00; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
    top: -27px;
    left: 220px;
    position: relative;
}
.arrow-after {
    width:0px;
    height:0px;
    border-left: 10px solid transparent;  /* izquierda flecha */
    border-right: 10px solid transparent; /* derecha flecha */
    border-bottom: 15px solid white; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
    top: -41px;
    left: 222px;
    position: relative;
}
#pop_sesion_top_content{
    margin-top: -30px;
}
#pop_sesion_top_content a:link{
  text-decoration: none;
}
/* Botonera en la parte superior*/
#botonera_top{
  margin-top: -5px;
  margin-bottom: 6px;
  margin-left: 0px;
  float: left;
  width: 440px;
}
#botones_top{
  background-color: #b0bf86;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color:#000000;
  font-size:14px;
  font-family:Arial;
  padding-top: 3px;
  padding-bottom: 3px;
}

#botones_top ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#botones_top ul li { display: inline; }

#botones_top ul li a {
  text-decoration: none;
  padding: .0em 1em;
  color: #000000;
  background-color: #b0bf86;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#botones_top ul li a:hover
{
  color: #fff;
  background-color: #769025;
}
/* cabecera */
#contenedor_cabecera{
  margin-top: 15px;
  width: 950px;
  z-index:999;
}
#cabecera{
  height: 102px;
  color:#FFFFFF;
  background: URL(../imagenes/logo.png) no-repeat  680px 8px #221409 !important;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size:14px;
  font-family:Arial;
  padding-top: 3px;
  padding-bottom: 3px;
}

#menu{
  position:absolute;
  margin-top:75px;
  z-index:900;
}
/* panel al lado izquierdo*/
#panel{
  top:170px;
  position:absolute;
  z-index:1;
}
#panel_web{
  width: 310px;
}
#panel_web a:link{
  text-decoration: none;
}
#inicio_panel{
  background-color: #c13500;
  width: 300px;
  clear:both;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; 
  padding: 5px;
}
#inicio_panel_dentro{
  background-color: #dbd0a7;
  -webkit-border-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-radius: 15px;
  border-top-left-radius: 15px;
  padding: 5px;
}
#tabla_panel1{
  float:left;
  width: 60px;
  background-color: #c13500;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  padding: 5px;
  padding-left: 25px;
  height:35px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:13px;
  font-family:Arial;
}
#tabla_panel2{
  float:left;
  width: 90px;
  background-color: #fb6e26;
  padding: 5px;
  padding-left: 18px;
  height:35px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:13px;
  font-family:Arial;
}
#tabla_panel3{
  width: 87px;
  float:left;
  background-color: #ff9e00;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  height:35px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:13px;
  font-family:Arial;
}
.combo{
  width: 280px;
  padding: 5px;
  margin-top: 10px;
  color:#ffffff;
  font-size: 12px;
  border: 0px solid;
  font-weight:bold;
  overflow: hidden;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: URL(../imagenes/flecha.png) no-repeat 260px 5px #92774c !important;
}
.buscar_curso{
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-radius: 15px;
  border-top-left-radius: 15px;
  padding: 8px;  
}
.mes_add{
  background: URL(../imagenes/cal.png) no-repeat right #92774c !important;
  color: #ffffff;
  font-size: 12px;
  padding: 6px;
}
.mes_add a{
  text-decoration: none;
  color:#ffffff;
}
.tipo1{
  font-weight:bold;
  font-size:15px;
  font-family:Arial;
}
.tipo2{
  font-size:11px;
  font-family:Arial;
}
/* slide show */
#slideshow{
  width: 620px;
  min-height: 335px;
  top:20px;
  left: 320px;
  position:relative;
  z-index:2;
  clear:both;
  margin-bottom: 10px; 
}
/* social networks */
#social_net_side{
  width: 47px;
  height:200px;
  position:fixed;
  right: 0px;
  top: 160px;
  z-index: 890;
}
#ntbar{ }
.ntbar_primero{
  position:right;
  width: 47px;
  height:46px;
  -webkit-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
  background: URL(../imagenes/ntbar/ntbar_primero.png) no-repeat !important;
  text-align: center;
}
.ntbar_medio{
  float:right;
  width: 47px;
  height:43px;
  background: URL(../imagenes/ntbar/ntbar_medio.png) no-repeat !important;
}
.ntbar_ultimo{
  float:right;
  width: 47px;
  height:46px;
  -webkit-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  background: URL(../imagenes/ntbar/ntbar_ultimo.png) no-repeat !important;
}
/* Marquesina de imagenes */
#marquee{
  width: 950px;
  margin-top: 0px;
  height: 220px;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: URL(../imagenes/line.png) no-repeat 0px 205px #f3ecd2 !important;
  padding-top: 15px;
}
/* Articulos internos */
.articulo{
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #f3ecd2;
  padding: 5px;
  min-height: 335px;
  margin-top:20px;
  margin-bottom: 10px;
  z-index:2;
  clear:both;
}

.textoresaltado {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #300;
}
.titulosverdes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #690;
  font-weight: bold; 
}
.texto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}
.imagen_izq {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.imagen_der {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}
/* pie de pagina*/
#pie{
  width: 920px;
  margin-top: 5px;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #221409;
  padding: 15px;
  color: #DBD0A7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
#pie a:link {
	text-decoration:none;
	color: #DBD0A7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
} /* Link no visitado*/
#pie a:visited {
	text-decoration:none;
	color:#DBD0A7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
} /*Link visitado*/
#pie a:active {
	text-decoration:none;
	color: #0aec94;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
} /*Link activo*/
#pie a:hover {
	text-decoration:none;
	color: #b0bf86;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#nt_pie{
  margin-top: 5px;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #c3a95e;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
/* Copyright */
#copy{
  width: 500px;
  margin: 0 auto 0 auto;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-align: center;
}
