/* menu del sistema */
#panel_web_menu{
  width: 310px;
}
#panel_web_menu a:link{
  text-decoration: none;
}
#inicio_panel_menu{
  background-color: #bfab6e;
  width: 300px;
  clear:both;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; 
  padding: 5px;
  min-height: 250px;
}
#inicio_panel_menu_1{
  background-color: #c13500;
  width: 300px;
  clear:both;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; 
  padding: 5px;
  min-height: 250px;
}
#inicio_panel_menu_2{
  background-color: #fb6e26;
  width: 300px;
  clear:both;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; 
  padding: 5px;
  min-height: 250px;
}
#inicio_panel_menu_3{
  background-color: #ff9e00;
  width: 300px;
  clear:both;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; 
  padding: 5px;
  min-height: 250px;
}
#inicio_panel_dentro_menu{
  background-color: #dbd0a7;
  -webkit-border-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-radius: 15px;
  border-top-left-radius: 15px;
  padding: 5px;
  min-height: 250px;
}
#tabla_panel1_menu{
  float:left;
  width: 95px;
  background-color: #c13500;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  padding: 5px;
  padding-left: 25px;
  height:35px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:13px;
  font-family:Arial;
}
#tabla_panel1_menu_user{
  float:left;
  width: 95px;
  background-color: #c13500;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  padding-left: 25px;
  height:35px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:13px;
  font-family:Arial;
}
#tabla_panel2_menu{
  float:left;
  width: 70px;
  background-color: #fb6e26;
  padding: 5px;
  padding-left: 19px;
  height:35px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:13px;
  font-family:Arial;
}
#tabla_panel3_menu{
  width: 71px;
  float:left;
  background-color: #ff9e00;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  height:35px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:13px;
  font-family:Arial;
}
/* botones del menu */
.boton_menu{
   float: left;
   height: 50px;
   width: 50px;
   background-color: #e8efe7;
   border: solid 0px #000;
   -webkit-border-radius: 15px 15px 15px 15px;
   -moz-border-radius: 15px 15px 15px 15px;
   border-radius: 15px;
   -webkit-box-shadow: 3px 3px 5px #444;
   -moz-box-shadow: 3px 3px 5px #444;
   box-shadow: 3px 3px 5px #444;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 0px;
   margin-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
   text-align: center;
   font-size: 10px;
   font-weight: bold;
   font-family: arial, serif, sans-serif;
}
.boton_menu:hover {
   margin-left: 7px;
   margin-right: 3px;
   margin-top: 2px;
   margin-bottom: 3px;
   -webkit-box-shadow: 1px 1px 2px #111;
   -moz-box-shadow: 1px 1px 2px #111;
   background-color: #115411;
   color: #FFF;
   font-size: 12px;
}
/* Base de los formularios */
#sm_baseformulario{
  width: 620px;
  min-height: 335px;
  top:20px;
  left: 320px;
  position:relative;
  z-index:2;
  clear:both;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #f3ecd2;
  padding: 5px;
  margin-bottom: 30px;
}
/* formularios */
.titulo_formulario{
  background-color: #92774c;
  color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-family:Arial;
}
.cajas_entrada {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #92774c;
  width: 280px;
  height: 25px;
  margin: 0 auto 15px auto;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-input-placeholder-
  -moz-placeholder-font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(border-radius.htc);
}




.cabecera_tabla {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #92774c;
  font-size: 11px;
}


.cajas_entrada_peq {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #92774c;
  width: 90px;
  height: 18px;
  margin: 0 auto 15px auto;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-input-placeholder-
  -moz-placeholder-font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(border-radius.htc);
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #dcdcdc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #dcdcdc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #dcdcdc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #dcdcdc;
}
.cajas_texto {
 color: #FFFFFF;
 background-color: #92774c;
 margin: 0 auto 15px auto;
 padding: 5px;
 border: 1px solid #ccc;
 -webkit-input-placeholder-
 -moz-placeholder-font-weight: bold;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 behavior: url(border-radius.htc);

    }
.cajas_entrada2 {
  background-color: #92774c;
  width: 220px;
  height: 25px;
  margin: 0 auto 15px auto;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-input-placeholder-
  -moz-placeholder-font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(border-radius.htc);
    color: #dcdcdc;
  font-weight: bold;
}
.combo_form{
 background-color: #92774c;
  width: 285px;
  height: 35px;
 margin: 0 auto 15px auto;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-input-placeholder-
  -moz-placeholder-font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  behavior: url(border-radius.htc);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: URL(../imagenes/flecha.png) no-repeat 265px 8px #92774c !important; 
   color: #dcdcdc;
  font-weight: bold;
}
.combo_form_small{
 background-color: #92774c;
  width: 185px;
  height: 35px;
  margin: 0 auto 15px auto;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-input-placeholder-
  -moz-placeholder-font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(border-radius.htc);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: URL(../imagenes/flecha.png) no-repeat 165px 8px #92774c !important; 
  color: #dcdcdc;
  font-weight: bold;
  font-size: 11px;
}

.combo_identificador{
  background-color: #92774c;
  width: 50px;
  height: 35px;
  margin: 0 auto 0px auto;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-input-placeholder-
  -moz-placeholder-font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(border-radius.htc);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: URL(../imagenes/flecha.png) no-repeat 30px 8px #92774c !important; 
   color: #dcdcdc;
  font-weight: bold;
}
.combo_seccion{
  background-color: #92774c;
  width: 50px;
  height: 20px;
  margin: 0 auto 0px auto;
  padding-left: 5px;
  border: 1px solid #ccc;
  -webkit-input-placeholder-
  -moz-placeholder-font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url(border-radius.htc);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: URL(../imagenes/flecha.png) no-repeat 30px 2px #92774c !important; 
   color: #dcdcdc;
  font-weight: bold;
}
#etiqueta{
  color:#67573F;
  font-weight:bold;
  font-size:16px;
  font-family:Arial;
}
#resultado{
  color:#92774c;
  font-weight:bold;
  font-size:16px;
  font-family:Arial;
}
.sm_mensaje{
  width:400px;
  margin: 0 auto 0 auto;
  margin-top:10px;
  padding: 10px; 
  color: #c13500;
  background-color: #b0bf86;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 5px #444;
  -moz-box-shadow: 3px 3px 5px #444;
  font-family:Arial;
  font-size:11px;
}
.sm_mensaje_cerrar{
  float: right;
  width:15px;
  background: #c13500;
  color: #ffffff;
  font-size:12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: -5px;
  margin-right: -5px;
  cursor: pointer;
}
.sm_mensaje_cerrar:hover{
  background: #ffffff;
  color: #c13500;
}

/* panel de busqueda */
#inicio_buscar{
  margin-top: 10px;
  width: 400px;
  background-color: #c13500;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  padding-top: 10px;
  height:20px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:12px;
  font-family:Arial;  
}
#inicio_panel_buscar{
  background-color: #bfab6e;
  width: 400px;
  clear:both;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; 
  padding: 5px;
  margin: 0 auto 15px auto;
}
#inicio_panel_dentro_buscar{
  background-color: #dbd0a7;
  -webkit-border-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-radius: 15px;
  border-top-left-radius: 15px;
  padding: 5px;
  min-height:45px;
}
.boton_iniciar{
  width:90px;
  margin: 0 auto 15px auto;
  background-color: #c13500;
  color: #ffffff;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-radius: 15px;
  border-top-left-radius: 15px;
  padding: 8px;
  text-align: center;  
}
/* sesion */
#panel_inicio_sesion{
  margin: auto 50% auto 50%;
  width: 310px;
  left: -155px;
  position:absolute;
  top:170px;
}
#inicio_sesion{
  width: 310px;
  background-color: #c13500;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  padding-top: 5px;
  height:25px;
  color:#FFFFFF;
  font-weight:bold;
  font-size:14px;
  font-family:Arial;
}
#olvido_contrasena{
  color:#6b5738;
  font-weight:bold;
  font-size:12px;
  font-family:Arial;
}
#olvido_contrasena a:link{
  text-decoration: none;
}
#error_login{
  color:#c13500;
  font-weight:bold;
  font-size:12px;
  font-family:Arial;
}
.lista_tabla1 {
  color:#67573F;
  font-size:11px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #E0D1A6;
  margin: 0 auto 15px auto;
}
.lista_tabla2 {
  color:#67573F;
  font-size:11px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #F3ECD2;
  margin: 0 auto 15px auto;
}

#contacto_cabecera{
  height: 102px;
  color:#FFFFFF;
  background: URL(../../imagenes/logo.png) no-repeat  right 8px #221409 !important;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size:30px;
  font-family:Arial;
  padding-top: 3px;
  padding-bottom: 3px;
}

#contacto_opciones{
  min-height: 102px;
  color:#000000;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size:30px;
  font-family:Arial;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #000000;
}
#contacto_adicionales{
  position: fixed;
  width: 600px;
  min-height: 300px;
  left: 50%;
  margin-left: -300px;
  margin-top: -100px;
  color:#000000;
  clear:both;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px #444;
  -moz-box-shadow: 3px 3px 5px #444;
  box-shadow: 3px 3px 5px #444;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
  font-family:Arial;
  border: 1px solid #000000;
  background: #f3ecd2;
  z-index: 1;
}

.contacto_etiquetas{
  color:#67573F;
  font-weight:bold;
  font-size:16px;
  font-family:Arial;
}
.contacto_resultado{
  color:#92774c;
  font-weight:bold;
  font-size:16px;
  font-family:Arial;
}
.contacto_history{
  width:100%;
  max-height:150px;
  overflow-y:auto;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10x; 
}
#contacto_history_titulo{
  width:100%;
  font-size:18px;
  color:#92774c;
}
#contacto_history_cabecera{
  font-size:12px;
  font-weight:bold;
  height:25px;
  color:#ffffff;
  background-color: #92774c;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}
#contacto_history_contenido tr:nth-child(odd){
    background: #dbd0a7;
    color: #000000;
}
 
#contacto_history_contenido tr:nth-child(even){
    background: #bfab6e;
    color: #FFFFFF;
}

#contacto_history_contenido tr:hover{
    background: #000000;
    color: #FFFFFF;
}

#listados th{
  background-color: #92774c;
  color: #ffffff;
  font-weight: bold;
  font-family:Arial;
}
#listados tr:nth-child(odd){
    background-color: #E0D1A6;
    color: #67573F;
    font-family:Arial;
}
#listados tr:nth-child(even){
    background: #F3ECD2;
    color: #67573F;
    font-family:Arial;
}
#listados tr:hover{
    background: #000000;
    color: #FFFFFF;
    font-family:Arial;
}


#listados2 th{
  background-color: #92774c;
  color: #ffffff;
  font-weight: bold;
  font-family:Arial;
}
#listados2 tr:nth-child(odd){
    background-color: #E0D1A6;
    color: #67573F;
    font-family:Arial;
}
#listados2 tr:nth-child(even){
    background: #F3ECD2;
    color: #67573F;
    font-family:Arial;
}

.filapar{
    background: #dbd0a7;
    color: #000000;
    font-family:Arial;
}

