<span style='color: #000'>30 frames</span>	<span style='color: #900'>3,072 KB</span>	<span style='color: #090'>646.26 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />